<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>

</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <!--  View Switcher   -->
  <ul class="mui-tabs__bar  mui-tabs__bar--justified">
    <li class="mui--is-active mui--bg-color-grey-100"><a data-mui-toggle="tab" data-mui-controls="pane-default-1">Welcome</a></li>
    <li class="mui--bg-color-grey-100"><a data-mui-toggle="tab" data-mui-controls="pane-default-2">Add Items</a></li>
    <li class="mui--bg-color-grey-100"><a data-mui-toggle="tab" data-mui-controls="pane-default-3">View Items</a></li>
  </ul>

  <!-- View 1 -->
  <div class="mui-tabs__pane mui--is-active" id="pane-default-1">
    <%- include ("components/welcome.ejs") %>
  </div>

  <!-- View 2 -->
  <div class="mui-tabs__pane" id="pane-default-2">
    <%- include ("components/add.ejs") %>
  </div>

    <!-- View 3 -->
  <div class="mui-tabs__pane" id="pane-default-3">
    <%- include ("components/route.ejs") %>
  </div>

</body>
</html>
